In [1]:
import pandas

In [2]:
pandas.__version__

'1.3.5'

In [3]:
import pandas as pd

In [5]:
pd.read_csv?

In [6]:
pd.Series(['a', 'b', 'c', 'd'])

0    a
1    b
2    c
3    d
dtype: object

In [9]:
s1 = pd.Series(['a', 'b', 'c', 'd'], index = [1,2,3,4], name='random')

In [16]:
s2 = pd.Series(['e', 'f', 'g', 'h'], index = [1,2,3,4], name='random2')

In [18]:
pd.DataFrame(s1)

  random
1      a
2      b
3      c
4      d

In [19]:
pd.DataFrame(s1, s2)

        random
random2
e          NaN
f          NaN
g          NaN
h          NaN

In [20]:
pd.DataFrame([s1, s2])

         1  2  3  4
random   a  b  c  d
random2  e  f  g  h

In [22]:
pd.DataFrame([s1, s2]).T

  random random2
1      a       e
2      b       f
3      c       g
4      d       h

# Vsisualizaçao de Dados

In [15]:
#head, describe, tail, index, columns, transposta

# Selecionando Dados

In [23]:
#via fatiamento

In [ ]:
# - dataframe[0:3]

In [24]:
#seleção pelo nome de uma coluna

In [25]:
# - dataframe['colunaX']

In [26]:
#acessar determinadas linhas pelo nome

In [27]:
# - dataframe.loc[dataframe['']]
# - dataframe.loc(:, ['coluna A', 'coluna B'])

In [ ]:
# - dataframe.iloc[index]

In [28]:
#value_counts() é bom para histograma

# Select_dtype

In [ ]:
# df.select_dtypes('int') entre paretenses, colocar o tipo de dados,float, str, bool,