In [ ]:
import pandas as pd

In [60]:
#conteúdo referente a variável categórica.
#dtype = {'coluna', 'category'}
#cat.codes
#pd.cut
#pd.qcut

In [ ]:
dados = pd.read_csv('/content/drive/MyDrive/MICRODADOS_ENEM_2018.csv', sep=';', nrows=0, encoding='latin-1')

In [ ]:
dados

Empty DataFrame
Columns: [NU_INSCRICAO, NU_ANO, TP_FAIXA_ETARIA, TP_SEXO, TP_ESTADO_CIVIL, TP_COR_RACA, TP_NACIONALIDADE, TP_ST_CONCLUSAO, TP_ANO_CONCLUIU, TP_ESCOLA, TP_ENSINO, IN_TREINEIRO, CO_MUNICIPIO_ESC, NO_MUNICIPIO_ESC, CO_UF_ESC, SG_UF_ESC, TP_DEPENDENCIA_ADM_ESC, TP_LOCALIZACAO_ESC, TP_SIT_FUNC_ESC, CO_MUNICIPIO_PROVA, NO_MUNICIPIO_PROVA, CO_UF_PROVA, SG_UF_PROVA, TP_PRESENCA_CN, TP_PRESENCA_CH, TP_PRESENCA_LC, TP_PRESENCA_MT, CO_PROVA_CN, CO_PROVA_CH, CO_PROVA_LC, CO_PROVA_MT, NU_NOTA_CN, NU_NOTA_CH, NU_NOTA_LC, NU_NOTA_MT, TX_RESPOSTAS_CN, TX_RESPOSTAS_CH, TX_RESPOSTAS_LC, TX_RESPOSTAS_MT, TP_LINGUA, TX_GABARITO_CN, TX_GABARITO_CH, TX_GABARITO_LC, TX_GABARITO_MT, TP_STATUS_REDACAO, NU_NOTA_COMP1, NU_NOTA_COMP2, NU_NOTA_COMP3, NU_NOTA_COMP4, NU_NOTA_COMP5, NU_NOTA_REDACAO, Q001, Q002, Q003, Q004, Q005, Q006, Q007, Q008, Q009, Q010, Q011, Q012, Q013, Q014, Q015, Q016, Q017, Q018, Q019, Q020, Q021, Q022, Q023, Q024, Q025, Q026, Q027]
Index: []

[0 rows x 78 columns]

In [ ]:
dados.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027'],
      dtype='object')

In [ ]:
dados.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027'], dtype=object)

In [ ]:
cols = ['NU_NOTA_MT','Q027']

In [26]:
dados_enem = pd.read_csv('/content/drive/MyDrive/MICRODADOS_ENEM_2018.csv', usecols=cols, sep=';', encoding='latin-1', nrows=1000000, dtype={'Q027': 'category'})
#aqui, logo no carregamento dos dados, foi inserido o dtype, indicando que determinada coluna é de um tipo.

In [27]:
dados_enem.head()

   NU_NOTA_MT Q027
0       496.3    D
1       440.6    A
2       410.4    A
3       711.5    B
4       543.1    A

In [28]:
dados_enem.isnull().sum()

NU_NOTA_MT    252476
Q027               0
dtype: int64

In [29]:
dados_enem.isna().sum()

NU_NOTA_MT    252476
Q027               0
dtype: int64

In [31]:
#antes da modificação acima, no pd.read, a coluna q027 estava como object
dados_enem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   NU_NOTA_MT  747524 non-null   float64
 1   Q027        1000000 non-null  category
dtypes: category(1), float64(1)
memory usage: 8.6 MB

In [42]:
dados_enem.dropna(inplace=True)

In [43]:
dados_enem.isna().sum()

NU_NOTA_MT    0
Q027          0
dtype: int64

In [44]:
dados_enem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747524 entries, 0 to 999998
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   NU_NOTA_MT  747524 non-null  float64
 1   Q027        747524 non-null  category
dtypes: category(1), float64(1)
memory usage: 12.1 MB

In [45]:
#a ideia agora e transformar a Q027 em variável numérica, enquanto "nu_nota_mt", que é numerica, float, transformala em categórica.

In [46]:
#pedir para o pandas, o código corresponde as letras da coluna categórica, no caso, "q027", transforma os valores alphanumerica de categoria em números
#cat.codes
#resumo. cat.codes, transforma uma variável categórica em numérica, desde que, o tipo dessa coluna seja "category"
dados_enem['Q027'].cat.codes

0         3
1         0
2         0
3         1
4         0
         ..
999991    0
999993    0
999994    0
999997    0
999998    0
Length: 747524, dtype: int8

In [47]:
dados_enem['Q027 GRUPOS'] = dados_enem['Q027'].cat.codes

In [48]:
dados_enem['Q027'].value_counts()

A    569004
D     86430
B     55209
C     19193
E     17368
F       320
Name: Q027, dtype: int64

In [49]:
dados_enem['Q027 GRUPOS'].value_counts()

0    569004
3     86430
1     55209
2     19193
4     17368
5       320
Name: Q027 GRUPOS, dtype: int64

In [50]:
dados_enem

        NU_NOTA_MT Q027  Q027 GRUPOS
0            496.3    D            3
1            440.6    A            0
2            410.4    A            0
3            711.5    B            1
4            543.1    A            0
...            ...  ...          ...
999991       618.2    A            0
999993       565.5    A            0
999994       465.0    A            0
999997       396.5    A            0
999998       391.8    A            0

[747524 rows x 3 columns]

In [51]:
dados_enem.describe()

          NU_NOTA_MT    Q027 GRUPOS
count  747524.000000  747524.000000
mean      535.722206       0.567148
std       103.130250       1.130462
min         0.000000       0.000000
25%       455.800000       0.000000
50%       516.700000       0.000000
75%       600.100000       0.000000
max       996.100000       5.000000

In [53]:
#para transforma uma coluna float em categórica, existe o método "pd.cut"
pd.cut(dados_enem.NU_NOTA_MT, bins=[0, 400, 500, 600, 800], labels=['baixa', 'média baixa', 'média alta','alta']).value_counts()

media baixa    280624
media alta     236435
alta           178954
baixa           43377
Name: NU_NOTA_MT, dtype: int64

In [55]:
#uma expressao similar ao "pd.cut" é a "pd.qcut", onde apenas a quantidade de categoria é repassada não a divisão feito a mão como acima.
pd.qcut(dados_enem.NU_NOTA_MT, q=4)
#se, não der nome das categorias via labels=[''], o proprio sistema te entrega um

0          (455.8, 516.7]
1         (-0.001, 455.8]
2         (-0.001, 455.8]
3          (600.1, 996.1]
4          (516.7, 600.1]
               ...
999991     (600.1, 996.1]
999993     (516.7, 600.1]
999994     (455.8, 516.7]
999997    (-0.001, 455.8]
999998    (-0.001, 455.8]
Name: NU_NOTA_MT, Length: 747524, dtype: category
Categories (4, interval[float64, right]): [(-0.001, 455.8] < (455.8, 516.7] < (516.7, 600.1] <
                                           (600.1, 996.1]]

In [56]:
pd.qcut(dados_enem.NU_NOTA_MT, q=4).value_counts()

(516.7, 600.1]     186961
(-0.001, 455.8]    186935
(455.8, 516.7]     186863
(600.1, 996.1]     186765
Name: NU_NOTA_MT, dtype: int64

In [57]:
#nota-se que a distriubição é muito bem feita pelo qcut, enquanto no cut, a distribuição não é tao exata.

In [58]:
dados_enem['NU_NOTA_MT_GRUPOS']= pd.qcut(dados_enem.NU_NOTA_MT, q=4, labels=['Baixa', 'Média Baixa', 'Média Alta', 'Alta'])

In [59]:
dados_enem

        NU_NOTA_MT Q027  Q027 GRUPOS NU_NOTA_MT_GRUPOS
0            496.3    D            3       Média Baixa
1            440.6    A            0             Baixa
2            410.4    A            0             Baixa
3            711.5    B            1              Alta
4            543.1    A            0        Média Alta
...            ...  ...          ...               ...
999991       618.2    A            0              Alta
999993       565.5    A            0        Média Alta
999994       465.0    A            0       Média Baixa
999997       396.5    A            0             Baixa
999998       391.8    A            0             Baixa

[747524 rows x 4 columns]