In [ ]:
import pandas as pd
import zipfile

In [ ]:
with zipfile.ZipFile('/content/drive/MyDrive/microdados_enem_2019.zip') as z:
  print(*z.namelist(), sep='\n')

INPUTS/
INPUTS/INPUT_R_ITENS_PROVA_2019.R
INPUTS/INPUT_R_MICRODADOS_ENEM_2019.R
INPUTS/INPUT_SAS_ITENS_PROVA_2019.sas
INPUTS/INPUT_SAS_MICRODADOS_ENEM_2019.sas
INPUTS/INPUT_SPSS_ITENS_PROVA_2019.sps
INPUTS/INPUT_SPSS_MICRODADOS_ENEM_2019.sps
LEIA-ME E DOCUMENTOS TÉCNICOS/
LEIA-ME E DOCUMENTOS TÉCNICOS/Edital_enem_2019.pdf
LEIA-ME E DOCUMENTOS TÉCNICOS/enem_procedimentos_de_analise.pdf
LEIA-ME E DOCUMENTOS TÉCNICOS/entenda_a_sua_nota_no_enem_guia_do_participante.pdf
LEIA-ME E DOCUMENTOS TÉCNICOS/Leia_Me_Enem_2019.pdf
LEIA-ME E DOCUMENTOS TÉCNICOS/manual_de_redacao_do_enem_2019.pdf
LEIA-ME E DOCUMENTOS TÉCNICOS/matriz_referencia_enem.pdf
PROVAS E GABARITOS/
PROVAS E GABARITOS/ENEM_2019_P1_CAD_01_DIA_1_AZUL.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_02_DIA_1_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_02_DIA_1_AMARELO_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_02_DIA_1_AMARELO_SUPERAMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_03_DIA_1_BRANCO.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_04_DIA_1_ROSA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_05_DIA_2_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_06_DIA_2_CINZA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_06_DIA_2_CINZA_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_06_DIA_2_CINZA_SUPERAMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_07_DIA_2_AZUL.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_08_DIA_2_ROSA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_09_DIA_1_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_10_DIA_1_VERDE_LIBRAS.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_11_DIA_2_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2019_P1_CAD_12_DIA_2_VERDE_LIBRAS.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_01_DIA_1_AZUL.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_02_DIA_1_AMARELO.pdf.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_02_DIA_1_AMARELO_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_02_DIA_1_AMARELO_SUPERAMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_03_DIA_1_BRANCO.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_04_DIA_1_ROSA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_05_DIA_2_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_06_DIA_2_CINZA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_06_DIA_2_CINZA_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_06_DIA_2_CINZA_SUPERAMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_07_DIA_2_AZUL.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_08_DIA_2_ROSA.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_09_DIA_1_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_10_DIA_1_VERDE_LIBRAS.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_11_DIA_2_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2019_P1_GAB_12_DIA_2_VERDE_LIBRAS.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_01_DIA_1_AZUL.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_01_DIA_1_AZUL_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_01_DIA_1_AZUL_SUPERAMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_02_DIA_1_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_03_DIA_1_BRANCO.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_04_DIA_1_ROSA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_05_DIA_2_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_05_DIA_2_AMARELO_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_05_DIA_2_AMARELO_SUPERAMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_06_DIA_2_CINZA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_07_DIA_2_AZUL.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_08_DIA_2_ROSA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_09_DIA_1_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2019_P2_CAD_11_DIA_2_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_01_DIA_1_AZUL.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_01_DIA_1_AZUL_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_01_DIA_1_AZUL_SUPERAMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_02_DIA_1_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_03_DIA_1_BRANCO.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_04_DIA_1_ROSA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_05_DIA_2_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_05_DIA_2_AMARELO_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_05_DIA_2_AMARELO_SUPERAMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_06_DIA_2_CINZA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_07_DIA_2_AZUL.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_08_DIA_2_ROSA.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_09_DIA_1_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2019_P2_GAB_11_DIA_2_LARANJA_LEDOR.pdf
DADOS/
DADOS/ITENS_PROVA_2019.csv
DADOS/MICRODADOS_ENEM_2019.csv
DICION╡RIO/
DICION╡RIO/Dicionário_Microdados_Enem_2019.ods
DICION╡RIO/Dicionário_Microdados_Enem_2019.xlsx

In [ ]:
with zipfile.ZipFile('/content/drive/MyDrive/microdados_enem_2019.zip') as z:
  with z.open('DADOS/MICRODADOS_ENEM_2019.csv') as f:
    %time dados = pd.read_csv(f, sep=';', encoding='latin-1')

CPU times: user 1min 3s, sys: 16 s, total: 1min 19s
Wall time: 1min 20s

In [ ]:
%timeit
dados.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001595656,2019,13,M,1,3,1,1,11,1,...,A,A,A,A,A,A,C,A,C,B
1,190001421546,2019,8,M,1,1,1,1,5,1,...,A,A,A,B,A,A,E,A,A,B
2,190001133210,2019,13,F,1,3,1,1,13,1,...,A,A,A,B,A,A,C,A,A,B
3,190001199383,2019,10,F,1,1,1,1,4,1,...,A,A,A,C,A,B,D,A,B,B
4,190001237802,2019,7,F,1,1,1,1,4,1,...,B,A,A,B,A,A,C,B,B,B

In [ ]:
dados.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'], dtype=object)

In [ ]:
dados[dados['SG_UF_PROVA'] == 'AM']

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
55,190001082475,2019,2,F,1,3,1,2,0,2,...,A,A,A,B,A,A,C,B,B,B
127,190001082476,2019,13,M,0,3,1,1,13,1,...,A,A,A,B,A,A,C,A,B,B
168,190001082477,2019,13,F,0,0,1,1,13,1,...,A,A,A,B,A,A,C,A,A,B
257,190001082478,2019,16,F,1,3,1,1,13,1,...,A,A,A,B,A,A,C,A,B,B
274,190001082479,2019,11,M,1,3,1,1,10,1,...,A,A,A,C,A,A,E,A,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095039,190005429221,2019,10,F,1,3,1,1,7,1,...,A,A,A,B,A,A,A,A,A,A
5095089,190005429222,2019,3,F,1,1,1,1,2,1,...,B,A,A,C,B,B,D,A,A,A
5095144,190005429223,2019,12,M,1,3,1,1,13,1,...,A,A,A,B,A,A,B,A,A,A
5095153,190005429224,2019,7,M,1,4,1,1,6,1,...,A,A,A,B,A,A,C,A,A,A
5095167,190005429225,2019,5,M,1,3,1,1,3,1,...,A,A,A,B,B,A,E,A,A,B

In [ ]:
dados['SG_UF_PROVA'].unique()

array(['SP', 'BA', 'CE', 'TO', 'MG', 'MT', 'RN', 'PR', 'PE', 'MA', 'DF',
       'AP', 'RS', 'SC', 'PA', 'PB', 'AM', 'RJ', 'GO', 'PI', 'SE', 'MS',
       'RO', 'ES', 'AL', 'AC', 'RR'], dtype=object)

In [ ]:
dados['SG_UF_PROVA'].nunique()

27

In [ ]:
#ordenar os valores por ordem alfabética, "sorted"
lista_ufs = sorted(dados['SG_UF_PROVA'].unique())

In [ ]:
len(lista_ufs)

27

In [ ]:
for uf in lista_ufs:
  caminho_do_arquivo = '/content/drive/MyDrive/Colab Notebooks/estados/dados_{}_2019.csv'.format(uf)
  dados[dados['SG_UF_PROVA'] == uf].to_csv(caminho_do_arquivo)

In [ ]:
#unicodeescape é a barra invertida, para resolver, inserir o r antes do C:\Users